.ArticlePreview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(351.5px, 1fr));
  box-sizing: border-box;
  border: 3px solid black;
  padding: 10px;
}

.preview-image {
  max-width: 100%;
}

/* LARGE BREAKPOINT */
@media screen and (max-width: 1024px) and (min-width: 769px) { */
  .preview-image {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .preview-short-deets {
    padding-top: 20%;
  }

  .preview-date, .preview-source {
    grid-column-start: 2;
  }

  .preview-date {
    grid-row-start: 1;
  }

  .preview-source {
    grid-row-start: 2;
  }

  .preview-title, .preview-description {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}